:root{
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
  --clr-secondary-400: 217 19% 35%;
}


.navbar{
  background-color: #000000;
  display: flex;
  gap: 1.5em;
  align-items: center;
  height: 55px;
  justify-content: center;
  /* padding: 0.5rem 0.5rem; */
}

.navbar .logo a{
  color: red;
}

a{
  color: white;
  text-decoration: none;
}
.nav-links{
  display: flex;
  gap: 1.5em;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.active{
  color: var(--primary-color) !important;
  font-weight: bolder;
}

/* SECTION 1 */
.slider{
  background-color: white;
  margin: 1em 1em 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 60vh;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.section-1 .slider h2{
  font-family: 'sans-serif';
  font-size: 36px;
  font-weight: bold;
  color: #ff6600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.section-1 .slider img{
  width: 30%;
  height: 60vh;
  /* transform: rotate(-90deg); */
}

/* FEATURED PRODUCTS */
.section-2{
  margin-top: 5rem;
}
.section-2 h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  margin: 0;
  font-weight: 900;
  
}

.section-2 h3{
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.featured {
  margin: 2.5em 0 1em 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5;
  text-align: center;
  
}

.featured .featured-products img{
  width: 25em;
  height: 22em;
  margin-bottom: 1em;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.featured .featured-products .product-name{
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.featured .featured-products .product-rating{
  margin: 0;
}

.featured .featured-products .product-price{
  margin: 0;
}

/* SECTION-3 */
.section-3{
  margin-top: 5rem;
}

.section-3 h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  margin: 0;
  font-weight: 900;
}

.section-3 h3{
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.section-3 .best-selling{
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  /* margin: 2.5em 1em 1em 1em; */
}

.section-3 .best-selling .best-product{
  text-align: center;
}

.section-3 .best-selling .best-product img{
  width: 30em;
  height: 30em;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.section-3 .best-selling .best-product .product-name{
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.section-3 .best-selling .best-product .product-rating{
  margin: 0;
}

.section-3 .best-selling .best-product .product-price{
  margin: 0;
}

.section-3 .best-selling .best-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  text-align: center;
}

.section-3 .best-selling .best-products .product img{
  width: 15em;
  height: 12em;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.section-3 .best-selling .best-products .product .product-name{
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.section-3 .best-selling .best-products .product .product-rating{
  margin: 0;
}

.section-3 .best-selling .best-products .product .product-price{
  margin: 0;
}

/* Testimonials */
.section-4{
  margin-top: 5em;
  text-align: center;
  
}

.section-4 h1{
  text-transform: uppercase;
}

.testimonial-grid{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 1 / span 2;
  margin: 2rem;
}

.testimonial-grid .testimonial{
  background-color: white;
  text-align: center;
  margin-top: 1.5rem;
  border-radius: 20px;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}


.testimonial-grid .testimonial img{
  border-radius: 50%;
  position: relative;
  bottom: 30px;
  width: 5rem;
  height: 5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.testimonial-grid .testimonial h2{
  margin: 1rem;
  font-size: 1.25rem;
  color: blue;
}

.testimonial-grid .testimonial p{
  font-size: 1.15rem;

}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .social-media {
  margin-top: 1rem;
}

.footer .social-media a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 18px;
  padding: .25rem;
}